.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo img {
  transition: transform 0.5s ease, filter 0.2s ease;
}

.logo img:hover {
  transform: scale(1.5) translateY(10px);
  filter: brightness(1.2);
  z-index: 10;
  position: relative;
}

